[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
environ = "*"
django-environ = "*"
psycopg2 = "*"
djangorestframework = "*"
drf-yasg = "*"

[requires]
python_version = "3.7"
