[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.2.*"
django-environ = "==0.4.*"
psycopg2 = "==2.8.*"
djangorestframework = "==3.12.*"
drf-yasg = "==1.20.*"
drf-nested-routers = "==0.93.*"
requests = "==2.25.*"

[requires]
python_version = "3.7"
